<form action="/named-cat" method= "post">
  <input type="text" name="name" value="cat-name">
  <input type="text" name="color" value="background colour">
  <input type="submit" value="Submit">
</form>
